html {
	margin: 0;
	padding: 0;
	vertical-align: top;
}

body {
	margin: 0;
	padding: 0;
}

#app {
	width: 100vw;
	display: block;
}

.wideAd {
	background-color: #f7f7f7;
	width: 100%;
	height: 281px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-bottom: 1px solid #ebebeb;
}

.adContent {
	width: 1200px;
	height: 250px;
	padding: 15px 0 15px 0;
}

.ad {
	/*background-color: blue;*/
	width: 1200px;
	height: 250px;
	object-fit: contain;
}

.headerBar {
	height: 132px;
	display: block;
	text-align: center;
}

.header {
	height: 100%;
	max-width: 1200px;
	display: block;
	margin: 0 auto 0 auto;
	padding: 0 3% 0 3%;
	text-align: center;
}

.headerA {
	max-width: 1200px;
	display: flex;
	height: 42px;
	/*margin: 0 auto;*/
	position: relative;
	vertical-align: baseline;
	justify-content: space-between;
	/*padding: 4px 15px 2px;*/
}

.adivs {
	width: 250px;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
}

.bdivs {
	width: 250px;
	display: flex;
	justify-content: center;
	align-items: flex-start;
}

.headerB {
	max-width: 1200px;
	height: 58px;
	margin-top: -15px;
}

.headerC {
	max-width: 1200px;
	height: 35px;
	border-top: 1px solid #ebebeb;
	border-bottom: 1px solid #000000;
	padding: 0 60px 0 60px;
	margin-top: 4px;
}

.headerButtons {
	display: flex;
	width: 250px;
	/*align-items: stretch;*/
	vertical-align: middle;
	justify-content: flex-end;
	margin: 4px;
}

.headerFont {
	font-family: Arial;
	box-sizing: border-box;
	font-size: 10px;
}

.headerButton {
	font-weight: bold;
	background-color: #567b95;
	color: white;
	padding-top: 12px;
	border: 1px solid #326891;
	border-radius: 3px;
	transition: 0.5s;
}

.headerButton:hover {
	background-color: #326891;
	transition: 0.5s;
}

#subscribe {
	margin-right: 10px;
	height: 32px;
	width: 120px;
}

#login {
	height: 32px;
	width: 63px;
}

.lang {
	margin: 5px;
	padding: 5px;
	padding-inline-start: 0;
	transition: 0.5s;
}

.lang:hover {
	background-color: #f7f7f7;
	border-radius: 3px;
	transition: 0.5s;
}

.leftIcons {
	box-sizing: border-box;
	width: 37px;
	height: 37px;
	padding: 0px;
	margin: 4px;
	transition: 0.5s;
	display: flex;
	justify-content: center;
	align-items: center;
}

.leftIcons:hover {
	background-color: #f7f7f7;
	border-radius: 3px;
	transition: 0.5s;
}

.headerCategories {
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.outerContent {
	width: 100wv;
	display: flex;
	margin: 0px;
	padding: 0px;
	justify-content: stretch;
}

.mainContent {
	max-width: 1200px;
	padding: 0 3%;
	margin: 0;
	display: flex;
	flex: 1 1 1200px;
	justify-content: center;
}

.leftColumn {
	max-width: 800px;
	border-right: 1px solid #ebebeb;
	flex: 1 1 800px;
	display: flex;
	flex-direction: column;
	justify-content: flex-top;
	align-content: center;
}

.colAleft {
	flex: 1 1 285px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-content: stretch;
}

.colAright {
	flex: 1 1 515px;
	display: flex;
	flex-wrap: wrap;
	justify-content: stretch;
	align-content: flex-start;
}

.rightColumn {
	max-width: 400px;
	flex: 1 1 400px;
}